# Launch Gunicorn script as a systemd service
# =======================

# In the After clause it's a good idea to add e.g. postgresql.service if the Python app uses Postgresql

[Unit]
Description=The project
After=network.target
StartLimitIntervalSec=20
StartLimitBurst=4

[Service]
Type=simple
PIDFile=/run/project.pid
ExecStart=/bin/bash /home/louis/deploy/scripts/deploy-gunicorn.sh
TimeoutStopSec=5
KillMode=mixed
Restart=always

[Install]
WantedBy=multi-user.target

