# Need to useradd -mrU node_example before
# Put this file in /lib/systemd/system
# Then 'systemctl start node_example' will create
# a symlink to it in /etc/systemd/system/multi-user.target.wants

[Service]
ExecStart=/usr/local/bin/node /home/node_example/code/index.js
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=node_example
User=node_example
Group=node_example
Environment=NODE_ENV=prod
WorkingDirectory=/home/node_example/code

[Install]
WantedBy=multi-user.target
