# Node systemd service
# =======================

[Unit]
Description=Project
After=network.target
StartLimitIntervalSec=20
StartLimitBurst=4

[Service]
Type=simple
PIDFile=/run/project.pid
ExecStart=/bin/bash /home/louis/deploy/scripts/deploy-project.sh
TimeoutStopSec=5
KillMode=mixed
User=louis
Restart=always

[Install]
WantedBy=multi-user.target


